//@use 'vuetify/settings' with ($button-height: 100px)

// COLORS
$color-white: #ffffff
$color-background: #dbedef

$color-winterling-light: #b7dbdf
$color-winterling: #94cace
$color-winterling-dark: #70b8be
$color-winterling-superdark: #4ca6ae

$error-color: #cc0000
$success-color: #66bc66
$warning-color: #e78644
$placeholder-color: #949494


// MAIN STYLES

// FORMS
form
  max-width: 100%
  width: 90vw
  background-color: $color-white

fieldset
  border: 0
  margin: 40px auto
  padding: 0
  display: flex
  flex-direction: column
  gap: 20px
  > div
    width: 100%
textarea
  line-height: 1.5rem
input, textarea
  outline: none
  width: 100%
  padding: 8px

@media (min-width: 600px)
  form
    width: 600px