//@use 'vuetify/settings' with ($button-height: 100px)

// COLORS
$color-white: #ffffff
$color-background: #dbedef

$color-winterling-light: #b7dbdf
$color-winterling: #94cace
$color-winterling-dark: #70b8be
$color-winterling-superdark: #4ca6ae

$error-color: #cc0000
$success-color: #66bc66
$warning-color: #e78644
$placeholder-color: #949494


// MAIN STYLES

// FORMS
form
  max-width: 100%
  width: 90vw
  background-color: $color-white
  button
    // background-color: $color-winterling-superdark
    // outline: none
    // border: 1px solid $color-winterling-superdark
    // font-size: 16px
    // &:hover
    //   border: 1px solid $color-winterling-superdark
    //   background-color: $color-white
    //   color: $color-winterling-superdark
    //   &:disabled
    //     background-color: $color-winterling-superdark
    //     color: $color-white
    //     border: 1px solid $color-winterling-superdark
    // &:disabled
    //   opacity: .5
    //   transition: opacity .3s ease-in-out
    //   cursor: not-allowed

fieldset
  border: 0
  margin: 40px auto
  padding: 0
  display: flex
  flex-direction: column
  gap: 20px
  > div
    width: 100%
textarea
  line-height: 1.5rem
input, textarea
  outline: none
  width: 100%
  // border: 1px solid $color-background
  padding: 8px
  // &:hover
  //   border-color: $color-winterling-light
  // &:active, &:focus
  //   border-color: $color-winterling-dark
  // &::placeholder
  //   color: $placeholder-color
  //   font-family: inherit
  //   letter-spacing: inherit

@media (min-width: 600px)
  form
    width: 600px