$action-color: #93C572
$background-color: #A9BA9D// #8F9779
$error-color: #cc0000
$placeholder-color: #949494

$primary-dark-color: #355E3B
$primary-light-color: #96C8A2// #A0D6B4
$primary-middle-color: #50C878